@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-papaya-whip: #FDF0D5;
  --color-barn-red: #780000;
  --color-fire-brick:#C1121F
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7)
}
.text-stroke {
  -webkit-text-stroke: 4px rgba(19, 16, 16, 0.822);
}
.text-stroke-buttons {
  -webkit-text-stroke: 0px rgb(0, 0, 0);
}